.header {
  padding: 10px;
  font-size: 30px;
  color: green;

}

.navi {
	
	font-size: 14px;
	background-color: white;
	display: flex;

}
.navi a{
	text-decoration: none;
	color: green;
}

.navi .navLink:hover a{
	text-decoration: underline;
}

.navLink{
	padding: 17px;
}

.navLink:hover {
	background-color: #ffffff33;
}

.banner {
	width: 100%;
	background-color: green;
	height: 20px;
}