.container_large_white {
  background-color: white;
  height: 600px;
}

.container_text {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 24px;
  margin-left: 150px;

  /* margin-top: 150px; */
}

.bigimgcont{
	padding: 5px; 
	height: 200px;
}

