.container_large_white {
  background-color: white;
  height: 800px;
}

.container_text {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 24px;
  margin-left: 150px;

  /* margin-top: 150px; */
}

.mainstorycont{
	padding-left: 30px; 
	padding-top: 30px;
	height: 38.5%;
	width: 61.5%;
	
}

.sidestory1{
	/*padding-left: 840px;*/
	height: 37.5%;
	width: 62.5%;
	float: right;
	padding-right: 30px;
	padding-top: 30px;

}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.sidestory2{

}